@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: rgba(49, 52, 57);
  color: #fff;
  min-width: 320px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  background-image: url(/backGround.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#root {
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/PretendardVariable.woff2") format("woff");
}

.ant-pagination-options {
  display: none !important;
}
